@font-face {
    font-family: Montserrat-fit;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat-medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}



body{
    margin: 0px;
}

header{
    border-bottom: 1px solid black;
}

#HeaderFirstZone{
    background-color: rgb(155, 0, 157);
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

#HeaderContactBox{
    font-family: Montserrat-fit;
    color: white;
}

#HeaderContactImg{
    height: 30px;
    width: 30px;
    margin-right: 500px;
    margin-left: 10px;
}

#HeaderInput, #HeaderEmailBtn{
    border: none;
    padding: 5px;
    border-radius: 8px;
}

#HeaderInput{
    font-style: italic;
}

#HeaderEmailBtn{
    font-family: Montserrat-fit;
    color: white;
    background-color: rgb(0, 225, 115);
    transition: 0.2s;
}

#HeaderEmailBtn:hover{
    background-color: rgb(0, 133, 69);
}

#HeaderNavBar{
    display: flex;
    justify-content: space-between;
    
    
}

#HeaderNavbarLeft{
    margin-right: 30px;
    margin-left: 30px;
}

#HeaderNavbarRight{
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}

#HeaderLogoImg{
    width: 200px;
    height: auto;
}

#HeaderNavBox{
display: flex;
align-items: center;
border-left: solid 1px black;
border-right: solid 1px black;
padding-left: 40px;
padding-right: 40px;

}

.navLink{
    margin: 12px;
}

.navLink>a{
    text-decoration: none;
    font-family: Montserrat-bold;
    color: black;
}

.navLink>a:hover{
    border-bottom: solid 3px black;  
}

main{
    padding-left: 100px;
    padding-right: 100px;
}

#MainHrParent{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.center-element{
    display: flex;
    justify-content: center;
}

h1{
    font-family: Montserrat-medium;
}

.paragraphe{
    margin-bottom: 50px;
}

.paragrapheB{
    margin-bottom: 30px;
}

#MainHrShort{
    width: 100px;
}

li::marker {
    color: #9b009d;
}

#MainFirstTitle{
    margin-top: 70px;
    margin-bottom: 70px;
}

footer{
    background-color: rgb(54, 54, 54);
}

#footerLinkBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.footerLink{
    margin-left: 25px;
    padding-right: 25px;
    color: white;
    font-family: Montserrat-bold;
    display: flex;
    align-items: center;

}

.footerLink>img{
    padding: 7px;
    height: 15px;
    width: 15px;
    border: white solid 2px;
    border-radius: 50%;
    margin-right: 5px;
}

#footerCopyright{
    padding-top: 50px;
    text-align: center;
}

#footerCopyright>p{
    margin-bottom: 0px;
    color: gray;
    padding-bottom: 30px;
}
